.btn {
  background: $green;
  color: white;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px 0 5px 0;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:hover {
    @include boxshadow(8px, 2px, 62px, -8px, rgba(31, 219, 132, 0.75));
  }
}

.btn-sm {
  padding: 9px 27px;
}

.btn-md {
  padding: 16px 45px;
}

.btn-outline {
  padding: 15px 25px;
  color: $green;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid #aefdd9;
  outline: none;
  cursor: pointer;
}
